* {
    box-sizing: border-box;
}
html {
    background-color: white;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-weight: bold;
    font-size: 3vw;
}
h2 {
    font-weight: bold;
    font-size: 1.5vw;
}
h3 {
   font-weight: bold;
   font-size: 1.1vw;
}
p {
    font-size: 0.9vw;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
}
.mobile {
    display: none;
}
header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
}
#main-content {
    position: relative;
    top: 64px;
}
header .logo span {
   font-weight: bold;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin-right: calc(14px + 1vw);
    align-items: center;
    width: calc(500px - 8vw);
}
#main {
    background-color: #cccccc;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: calc(20px + 1vw) calc(14px + 1vw);
}
#main img {
    width: 50%;
    height: auto;
}
#main  #content > * {
    margin: calc(14px + 1vw) 0;
}
#main #content {
    margin-left: calc(40px + 1vw);
    width: 30%;
}
#main #content button {
    width: 100%;
    height: 50px;
    border: none;
    background-color:  #333333;
    color: white;
    padding: 8px 0;
    font-size: 1.2vw;
}
/* windowed */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    h1 {
        font-weight: bold;
        font-size: 4vw;
    }
    h2 {
        font-weight: bold;
        font-size: 2vw;
    }
    h3 {
       font-weight: bold;
       font-size: 1.1vw;
    }
    p {
        font-size: 0.9vw;
    }
    #main #content {
        margin-left: calc(40px + 1vw);
        width: 40%;
    }
    #main #content button {
        width: 100%;
        height: 50px;
        border: none;
        background-color:  #333333;
        color: white;
        padding: 8px 0;
        font-size: 1.2vw;
    }
}
/* tablet */
@media only screen and (max-width: 700px) and (min-width: 5.5in) {
    header nav {
        font-size: 2.5vw;
        width: 60%;
    }
    
    h1 {
        font-weight: bold;
        font-size: 5vw;
    }
    h2 {
        font-weight: bold;
        font-size: 2vw;
    }
    h3 {
       font-weight: bold;
       font-size: 1.1vw;
    }
    p {
        font-size: 0.9vw;
    }
    #main img {
        width: 60%;
    }
    #main #content {
        margin-left: calc(40px + 1vw);
        width: 37%;
    }
    #main #content button {
        width: 100%;
        height: 30px;
        border: none;
        background-color:  #333333;
        color: white;
        padding: 8px 0;
        font-size: 2vw;
    }
}
/* phone */
@media only screen and (max-width: 5.5in) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
    header nav {
        width: 100%;
        margin: 3%;
    }
    h1 {
        font-weight: bold;
        font-size: 8vw;
    }
    h2 {
        font-weight: bold;
        font-size: 5vw;
    }
    h3 {
       font-weight: bold;
       font-size: 5vw;
    }
    p {
        font-size: 3vw;
    }
    #main {
        flex-direction: column;
        padding: 0;
    }
    #main img {
        width: 100%;
    }
    #main  #content > * {
        margin: calc(14px + 1vw) 0;
    }
    #main #content {
        margin: 4px 0;
        width: 90%;
    }
    #main #content button {
        height: 37px;
        font-size: 2.5vw;
    }
    
}
