* {
    box-sizing: border-box;
}
html {
    background-color: white;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
h1{
    /*font-size: 2.5vw; */
    font-size: calc(51px - 0.2vw);
    font-weight: bold;
}
h2 {
    font-weight: bold;
    font-size: calc(26px - 0.05vw);
}
h3 {
   font-weight: bold;
   font-size: calc(23px - 0.2vw);
}
p, .link{
    font-size: calc(25.5px - 0.5vw);
}
.link {
    color: rgb(112, 112, 235);
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 10;
}
.mobile {
    display: none;
}
header .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
}
#main-content, footer {
    position: relative;
    top: 64px;
}
header .logo span {
   font-weight: bold;
}
header nav {
    display: flex;
    justify-content: space-between;
    margin-right: calc(14px + 1vw);
    align-items: center;
    width: calc(540px - 8vw);
}
#main {
    background-color: #ececec;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: calc(20px + 1vw) calc(14px + 1vw);
}
#main img {
    width: 50%;
    height: auto;
}
#main  #content > * {
    margin: calc(14px + 1vw) 0;
}
#main #content {
    margin-left: calc(40px + 1vw);
    width: 30%;
}
#main #content button {
    width: 100%;
    height: 50px;
    border: none;
    background-color:  #333333;
    color: white;
    padding: 8px 0;
    font-size: 1.2vw;
}
#practice {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#practice #left {
    width: 60%;
    padding: calc(20px + 1vw) calc(14px + 1vw);
}
#practice #left img {
    width: 100%;
}
#practice #left h1, #practice #left p {
    margin: calc(14px + 1vw) 0;
}
#practice #right {
    width: 40%;
}
#practice #right .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 400ms linear 50ms;
    border: 1px solid #ececec;
    width: 100%;
}
#practice #right img {
    width: 35%;
    height: auto;
    margin: calc(13px + 0.5vw);
}
#practice #right .row:hover {
    background-color: #ececec;
}
#practice #right .content > * {
    margin: calc(10px + 0.5vw) 0;
}
#learning {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #ececec;
    padding: calc(17px + 1vw) calc(40px + 2vw);
}
#learning #container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: calc(17px + 1vw);
}
#learning #container .box {
   background-color: white; 
   width: 361px;
   margin: calc(10px + 0.5vw);
}
 #learning #container .box .teext> * {
     margin: calc(10px + 0.5vw);
 }
#learning #container .box img {
    width: 100%;
    height: auto;
    margin: 0;
 }
 #learning #container .box .teext .para {
    min-height: 51px;
 }
 #thesis {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     align-content: center;
     margin-top: calc(17px + 1vw);
 }
 #thesis #text {
     display: flex;
     justify-content: flex-start;
     align-items: flex-start;
     margin: calc(17px + 1vw) 0;
 }
 #thesis #text .left  {
     width: 60%;
     margin: 0 calc(10px + 1vw);
 }
 #thesis #text .left  h3 {
    width: 60%;
    margin: calc(10px + 1vw) 0 calc(5px + 0.25vw) 0;
}
#thesis #text #right {
    width: 40%;
}
#thesis #text #right .row{
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: calc(9px + 0.5vw);
   transition: background-color 400ms linear 50ms;
}
#thesis #text #right .row:hover {
    background-color: #ececec;
}
#thesis #text #right .row img {
    width: 35%;
    height: 35%;
    margin-right: calc(9px + 0.5vw);
}
#thesis #text #right .row .content p {
    margin-top: calc(9px + 0.5vw);
}
footer {
    display: flex;
    justify-content: space-between;
    padding: calc(9px + 0.5vw) calc(10px + 1vw);
    border: 1px solid #ececec;
    height: 60px;
}
footer #rights {
    display: flex;
}
footer #rights p {
    margin-left: calc(7px + 0.2vw);
}

/* phone */

@media (pointer:coarse) { 
    .desktop {
        display: none !important;
    }
    .mobile {
        display: block;
    }
    header {
        height: 4cm;
    }
    #main-content, footer {
        position: relative;
        top: 4cm;
    }
    header nav {
        width: 100%;
        margin: 3%;
    }
    header nav img {
        height: 2.5cm;
        width: auto;
    }
    h1 {
        font-weight: bold;
        font-size: 9vw;
    }
    h2 {
        font-weight: bold;
        font-size: 6vw;
    }
    h3 {
       font-weight: bold;
       font-size: 6vw;
    }
    p {
        font-size: 4vw;
    }
    .link {
        font-size: 4vw;
    }
    #main {
        flex-direction: column;
        padding: 0;
    }
    #main img {
        width: 100%;
    }
    #main #content {
        margin: 0;
        width: 90%;
    }
    #main #content > * {
        margin: calc(40px + 1vw) 0;
    }
    #main #content button {
        height: 90px;
        font-size: 5vw;
    }

    #practice #right {
        width: 100%;
    }
    #practice #right .row {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: calc(10px + 00.5vw) 5%;
    }
    #practice #right img {
        width: 100%;
        margin: 0;
    }
    #practice #right .content > * {
        margin: calc(20px + 0.5vw) 0;
    }

    #learning {
        padding: calc(17px + 1vw) calc(10px + 2vw);
        background-color: white;
        border: 1px solid #ececec;
    }
    #learning #container {
        flex-flow: column no-wrap;
    }
    #learning #container .box {
       width: 100%;
       margin: calc(5px + 0.2vw);
       transition: background-color 400ms linear 50ms;
       border: 1px solid #ececec;
    }
     #learning #container .box .teext > * {
         margin: calc(10px + 0.5vw);
     }
    #learning #container .box img {
        width: 100%;
     }
     #learning #container .box:hover {
        background-color: #ececec;
     }
    #thesis #text .left  {
        width: 100%;
        margin: 0;
    }
    footer {
        height: 150px;
    }
}

/* tablet */

@media only screen and (max-width: 950px) and (min-width: 5in) {
    header nav {
        font-size: calc(11px + 0.35vw);
        max-width: 58%;
    }
    
    h1 {
        font-size: calc(25px + 0.3vw);
        font-weight: bold;
    }
    h2 {
        font-weight: bold;
        font-size: calc(15px + 0.1vw);
    }
    h3 {
        font-size: calc(17px - 0.2vw)
    }
    p, .link {
       font-size: calc(12px + 0.5vw)
    }
    #main img {
        width: 60%;
    }
    #main #content {
        margin-left: calc(40px + 1vw);
        width: 37%;
    }
    #main #content button {
        max-height: 40px;
        font-size: 2vw;
    }
    #learning #container {
        flex-flow: column no-wrap;
    }
    #learning #container .box {
       display: flex;
       justify-content: flex-start;
       width: 100%;
    }
    #learning #container .box .teext {
        display: flex;
        flex-direction: column;
    }
    #learning #container .box .teext h3 {
        font-size: calc(23px - 0.2vw)
    }
    #learning #container .box img {
        width: 60%;
     }
}


/* windowed */

@media only screen and (max-width: 1300px) and (min-width: 950px) and (pointer: fine) {
    h1 {
        font-weight: bold;
        font-size: calc(35px - 0.2vw)
    }
    h2 {
        font-weight: bold;
        font-size: calc(23px - 0.05vw);
    }
    p, .link{
      font-size: calc(20px - 0.5vw)
    }
    #main #content {
        margin-left: calc(40px + 1vw);
        width: 40%;
    }
    #main #content button {
        font-size: 2vw;
    }
}

